@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
}

.carousel-inner>.carousel-item {
    max-height: 75vh;

}

#our_team {
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}
#team_member{
    color: black;
}
#team_member i {
    color: gray;
}
#team_member i:hover {
    color: #0d67b5;
    transform: scale(1.2);

}

.blue-bg {
    color: white;
    background-color: #0d67b5
}

.white-bg {
    color: #0d67b5;
    background-color: white;
}
