@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
}

.carousel-inner>.carousel-item {
    max-height: 75vh;

}

#services {
    min-height: 50vh;
}

#services-icon {
    color: #0d67b5;
}

#our_partners {
    min-height: 50vh;
}

#our_partners {
    padding: 20px 0;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
#our_partners img {
    display: inline-block;
    max-width: 85%;
    padding: 15px 0;
    transition: all 0.3s ease-in-out;
    -webkit-filter: grayscale(100);
    -moz-filter: grayscale(100);
    filter: grayscale(100);
}
#our_partners img:hover {
    filter: none;
    transform: scale(1.2);
    -webkit-filter: none;
    -moz-filter: none;
}

#our_promise {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    color: white;
    background-color: #0d67b5

}

.blue-bg {
    color: white;
    background-color: #0d67b5
}

.white-bg {
    color: #0d67b5;
    background-color: white;
}
